<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mulcam8.emergensee.mapper.BoardReplyMapper">
	<select id="replySelect" resultType="com.mulcam8.emergensee.vo.BoardReplyVO">
		select comment_no, post_no, contents, userid, writedate 
		from comment
		where post_no=${param1} order by comment_no desc
	</select>	
	
	<insert id="replyInsert">
		insert into comment(userid, post_no, contents) 
		values(#{userid},${post_no},#{contents})
	</insert>
	
	<update id="replyUpdate">
		update comment set contents=#{contents}
		where comment_no=${comment_no}
	</update>
	
	<delete id="replyDelete">
		delete from comment 
		where comment_no=${param1}
	</delete>
</mapper>