<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
	<select id="loginCheck" parameterType="UserVO" resultType="Int">
		select count(*) from user where userid = #{userid} and userpwd = #{userpwd}
	</select>
	<insert id="registerSubmit" parameterType="UserVO">
		  insert into user (userid, userpwd, username, email, addr, phone, kakaonotification, interests) 
		  value(#{userid}, #{userpwd}, #{username}, #{email}, #{address},#{phone},#{kakaonotification},#{interests})
	</insert>
	<select id="idDuplicateCheck" parameterType="String" resultType="Int">
		select count(*) from user where userid = #{userid}
	</select>
	
	<select id="getBoardByUser" parameterType="String" resultType="BoardVO">
        SELECT a.post_no,subject,a.contents,a.writedate,disasterType,location, IFNULL(b.cnt,0) as 'cnt'
		from board as a left outer join(
        select post_no, count(*) as cnt
        from comment
        group by post_no) as b
        on a.post_no = b.post_no
        where userid = #{userid}
	</select>
	<select id="getCommentByUser" parameterType="String" resultType="CommentVO">
		select a.comment_no, a.contents, b.subject, a.writedate from comment as a, board b
		where a.post_no = b.post_no
		and a.userid=#{userid}
	</select>
</mapper>
