<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
		<typeAlias alias="UserVO" type="com.mulcam8.emergensee.vo.UserVO"/>
		<typeAlias alias="BoardVO" type="com.mulcam8.emergensee.vo.BoardVO"/>
		<typeAlias alias="CommentVO" type="com.mulcam8.emergensee.vo.CommentVO"/>
	</typeAliases>
</configuration>
